* {
    font-family: helvetica, Arial, sans-serif;
}

.hero-background {
    background-image: url(Images/ilya-pavlov-XPT-OtA0E-8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.features-card {
    display: flex;
    gap: 20px;
}

.hero p {
    color: #6a00f4;
}

.feature-card {
    padding: 20px;
    background-color: #6a00f4;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    color: #ffd6a5;
    max-height: auto;
    max-width: auto;

}

.feature-card:hover {
    transition: ease-out;
}

/* Add a background color to the body */

h1 {
    color: #ffd6a5 ;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #6a00f4;
}

p,
li {
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

body {
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}


.nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
}

.nav-link li {
        font-size: 75%;
        color: #6a00f4;
}

.nav-link a {
    text-decoration: none;
}
/* Add a hover effect to the navigation links */

a {
    color: #ffd6a5;
    text-decoration: underline;
    cursor: pointer;
}

/* Add a visited state to the navigation links */

a:visited {
    color: #4a0068;
}

a:hover {
    color: #1e3a5f;
    text-decoration: none;
}

a:active {
    color: #1e3a5f;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #5495ff;
}

.button {
  font-family: 'Raleway', sans-serif;
  background-color: #5495ff;
  color: #ffd6a5;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
  display: inline-block;
}

.button:hover {
  color: #ffd6a5;
  background-color: #6a00f4;
  font-size: larger;
  transition: all 1s ease
}

.button:active {
  color: #6a00f4;
  background-color: #ffd6a5;
  transform: translate(3px, 3px);
}


/* Add a hover effect to the sign-up button */

.button, .sign-up {
    background-color: #6a00f4;
    color: #ffd6a5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color .15s, font-size .15s;
    cursor: pointer;
}

.sign-up:visited {
    color: white;
}

.sign-up:hover {
    background-color: #3cff00;
    font-size: 18px;
}

.sign-up:active {
    background-color: #1e3a5f;
    transition: background-color .15s, font-size .15s;
    font-size: 16px;
}

footer {
    font-size: 10px;
}

footer p {
    font-size: 10px;
}